* {
	transition: 0.3s;
}

body {
	overflow-x: hidden;
}

.transition_custom01 {
	transition: 1.5s;
}

.head_image {
	aspect-ratio: 1/1;
	width: 30px;
	padding-right: 9px;
}

.option-common {
	padding: 3px 5px;
	border-radius: 20px;
	background-color: white;
	font-size: 11px;
	transition: 0.5s;
	margin: 3px 8px;
	outline: none;
	box-shadow: 5px 5px 11px 10px rgba(0, 0, 0, 0.074);
}

.option-common:hover {
	cursor: pointer;
	opacity: 0.5;
}

::-webkit-scrollbar {
	width: 1px;
}

::-webkit-scrollbar-track {
	background: #000000;
}

::-webkit-scrollbar-thumb {
	background: rgb(255, 255, 255);
	border-radius: 30px;
}
